.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  font-size: 12px;
  background-color: skyblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
  height: calc(100vh - 86px);
}

.button {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: black;
}

