.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.rotateBox {
  background-color: #4efde3;
}

.staticBox {
  background-color: #ed923d;
}

.moveBox {
  background-color: #e249ed;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 86px);
}
