.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  background-color: #e94d35;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  background-color: #4efde3;
}

.button {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
